*{
    margin: 0;
    padding: 0;
    font-family: "Poppines",serif;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(natural.jfif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 5px;

}
.wrapper{
    width: 340px;
    padding: 3px;
    margin: 40px auto;
    background: rgb(165, 165, 162);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 15px 30px rgb(12, 11, 11);
}
.wrapper:hover{
    text-decoration: none;
    color: greenyellow;
    padding: 8px 26px;
    border: 2px solid rgb(155, 253, 9);
    border-radius: 10px;
    transition: 2s;
}
h1{
    word-spacing: 4px;
    font-size: 2rem;
    color: #edfd09;
}
p{
    margin-bottom: 1.7rem;
    word-spacing: 3px;
}
form input{
    width: 52%;
    outline: none;
    border: none;
    background: #dfdada;
    padding: 10px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 19px;
}
.recovery a{
    text-align: center;
    color: blanchedalmond;
    font-size: 20px;
}
button{
    word-spacing: 10px;
    text-decoration: none;
    color: rgb(245, 6, 65);
    padding: 5px 20px;
    border: 2px solid rgb(248, 60, 2);
    border-radius: 10px;
    transition: 3s;
    font-size: 23px;

}
.button:hover{
    color: rgb(241, 80, 16);
}

.Or{
    color: greenyellow;
    font-size: 24px;
  
}
.icon{
    display: inline-block;
    font-size: 30px;
 
}
.icon i{
    color: gainsboro;
    padding: 5px 10px;
 
}
.icon:hover{
  
}


.not-remember{
    color: rgb(161, 221, 71);
    font-size: 19px;
    
}
.not-remember a{
    color: tomato;
    text-decoration: ;
    font-size: 20px;
}
.footer h4 p{
    color: rgb(210, 210, 216);
}